{% extends 'base.html' %}
{% load static %}
{% block contenido %}
				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>{{ producto.nombre }}</h1>
									</header>
									<span class="image main"><img src="{% static 'images/pic11.jpg' %}" alt="" /></span>
                                    <p>{{ producto.descripcion }}</p>
                                    <h2>Precio: Q{{ producto.precio }}</h2>
                                    <li><a href="{% url 'modulos:agregar_al_carrito' producto.id %}" class="btn btn-success">Agregar al Carrito</a></li>
							</div>
							</section>

					</div>

				<!-- Three -->
				{% if request.user.is_staff %}
					<section id="two">
						<div class="inner">
							<header class="major">
							<h2>Acciones</h2>
							</header>
							<ul class="actions">
								<li><a href="{% url 'modulos:editarproductoapp' producto.id %}" class="button next">Editar Producto</a></li>
							</ul>
							<ul class="actions">
								<li><a href="" class="button ">- Eliminar Producto</a></li>
							</ul>
						</div>
					</section>
				{% endif %}

</html>
{% endblock %}